.venv/
.DS_Store
outputs/
logs/
/models/
__pycache__/
cache/
logs/

##Transformer files
results/transformer_models/
train_transformer.py
train_transformer_lightning.py
transformer_lightning.py
inference_transformer.py

#Other
submissions/
LONG_SEQUENCE_HANDLING.md


# Simple RNN models
results/rnn_models/
rnn_model.py
rnn_lightning.py
rnn_attention_simple.py

# Ignore all files in config/ except config_attention_lstm.yaml
config/*

# Ignore all files into the folders
training/*
training/*/*
!traing/model
!training/utils
results/*/*
